/*** CUSTOM STYLES ***/

html {scroll-behavior: smooth;}

.content-block-home {min-height: 100vh;background: #3E6852;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.content-block-home h3 {margin: 0 0 50px;font-size: 33px;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 700;}

.content-block-02 {padding:0 5%;}

.card-box {min-width:400px;padding: 40px 35px 30px;box-shadow: 2px 3px 7px 1px rgb(0 0 0 / 33%);border-radius: 10px;text-align: center;margin-bottom: 50px;}
.card-box h4 {font-family: 'Poppins', sans-serif;margin: 0 0 10px;color: #498463;font-size: 23px;font-weight: 300;}
.card-box h5 {font-family: 'Poppins', sans-serif;margin: 20px 0 30px;color: #498463;font-size: 40px;font-weight: 700;}
.card-box hr {margin: 0 auto 25px;border-top: 2px rgb(0 0 0 / 8%) solid;}
.card-box p {font-size: 15px;font-family: 'Poppins', sans-serif;color: #474747;}

.desc-home {max-width: 400px;font-size: 16px;color: #212121;font-family: 'Roboto', sans-serif;font-weight: 400;margin: 0 0 40px;}

.enlace-descarga {transition:.6s;background: #136850;padding: 10px;border:2px transparent solid;display: inline-block;color: #fff;font-family: 'Roboto', sans-serif;border-radius: 30px;min-width: 400px;text-align: center;font-size: 17px;font-weight: 500;text-decoration: none;}
.enlace-descarga:hover, .enlace-descarga:focus {transition:.6s;background: #fff;border:2px #136850 solid;color:#136850;text-decoration:none;outline:none;}

@media (max-width: 600px) {
  
  .card-box p {text-align:left;}
  .card-box, .enlace-descarga {min-width: inherit;}
  .card-box {background:#fff}
  .enlace-descarga {margin-top:15px;}
  .content-block-02 {padding:0 35px;}
  .content-block-home {min-height: inherit;padding:50px 15px 50%;margin-bottom: -35%;overflow:hidden;position:relative;background:url(../img/fondo-responsive.png);background-position:bottom;background-size:cover;}
  .content-block-home img {position:absolute;right: -65px;}
  .content-block-home h3 {font-size: 23px;max-width:300px;width: 100%;display: inline-block;margin-right: auto;margin-bottom:15px;}
  .content-block-home p {color:#fff;font-size: 17px;max-width: 300px;width: 100%;display: inline-block;margin-right: auto;margin-bottom:0px;}
}